<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
<link rel="stylesheet" type="text/css" href="/css/getSongs.css">
<section class="container">
  <section class="center jumbotron" style="background:none;margin-bottom:none;">
<% if (errorID == 1) { %>
<p class="error-message">Great minds think alike, that track has already been chosen for this party, please choose again.</p>
<% } %>

<p id='pg-title'>Please choose your party tracks for <span id="pp-party-name"><%- ppPartyName %></span> on
<span id="pp-party-date"><%- ppPartyDate %></span></p>

<form action='/partygoer/getsongs' method='POST' id="party-email-form">
  <label for="email">Email:</label>
  <input type="email" name="email" id='email'>
  <input type="hidden" name="selectedSong" id="selected-song">
  <input type="hidden" name="ppPartyName" id="pp-party-name-hidden">
  <input type="hidden" name="ppPartyDate" id="pp-party-date-hidden">
  <input type="submit" value="submit" id='go'>
</form>


<h2>Search for a Track</h2>
<p id='pg-subtitle'>Type a track name and click on 'Search'. Then, click on any track from the results to get a 30 second preview.</p>
<form id="song-choices">
    <input type="text" id="query" value="" class="form-control" placeholder="Type a track name"/>
    <input type="submit" name="submit" id="search" class="btn btn-primary" value="Search" />
</form>
<div id="results"></div>

<script src="//cdn.jsdelivr.net/handlebarsjs/3.0.0/handlebars.min.js"></script>
<script id="results-template" type="text/x-handlebars-template">
{{#each tracks.items}}
<div>{{artists.0.name}}: {{name}}</div>
<div id="{{id}}1" style="background-image:url({{album.images.0.url}})" data-track-id="{{id}}" class="cover"></div>
{{/each}}
</script>
<script type="text/javascript" src="../../../js/songSearch.js"></script>
</section>
</section>
</body>
