<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <section class="container">
    <section class="center jumbotron" style="background:rgba(0, 0, 0, .8);margin-top:18%;padding-left:0;padding-right:0;margin-right:15%;margin-left:15%;">
      <h1>About Us</h1>
      <p>We came across a problem. We were at karaoke and had our song in line to be played. But what if we needed to leave the bar for a few minutes? We don't want to miss our song being played! So we came up with an app in which everyone at a party or venue can choose a small number of songs to add to a larger shared playlist the catch being your selected songs are only added once you turnUp to the event. This also means when someone attending needs to leave for a few minutes the songs they have added will be removed from the playlist until they return. This is a Makers Academy final project built by five students from the December 2014 cohort within a 2 week time period. Hannah Carney, Matteo Manzo, Andy Newman, Jack Rubio, and Marcin Walendzik (who's respective GitHubs are listed on the 'contacts' page) worked on both the TurnUp TuneIn moblie application and web app using Estimote beacons to pick up registered attendees so their songs can immediately get added to the playlist.
      </p>
      <ul>
        <li><a href="https://github.com/HannahCarney">Hannah Carney</a></li>
        <li><a href="https://github.com/matteomanzo">Andy Newman</a></li>
        <li><a href="https://github.com/andyg72">Andy Newman</a></li>
        <li><a href="https://github.com/JackRubio26">Jack Rubio</a></li>
        <li><a href="https://github.com/marcinwal">Marcin Walendzik</a></li>
      </ul>
      <a class="btn btn-lg btn-inverse" href='/'>home page</a>
    </section>
  </section>
</body>
</html>