<body>
Thank you for entering your party information.

  <ul>
    <li>Party Name: <%- partyName %></li>
    <li>Party Playlist Name: <%- partyPlaylistName %></li>
    <li>Party Date: <%- partyDate %></li>

</body>
