<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <section class="container">
    <section class="center jumbotron" style="background:rgba(0, 0, 0, .8);margin-top:18%;padding-left:0;padding-right:0;margin-right:15%;margin-left:15%;">
      <h1>Contact Us</h1>
      <section>
        <h2>Git hub</h2>
        <a href="https://github.com/HannahCarney">Hannah Carney</a>
        <p></p>
        <a href="https://github.com/matteomanzo">Matteo Manzo</a>
        <p></p>
        <a href="https://github.com/andyg72">Andy Newman</a>
        <p></p>
        <a href="https://github.com/JackRubio26">Jack Rubio</a>
        <p></p>
        <a href="https://github.com/marcinwal">Marcin Walendzik</a>
      </section>
      <a class="btn btn-lg btn-inverse" href='/'>home page</a>
    </section>
  </section>
</body>
</html>
