Please enter your song choices for <%- pgName %> on <%- pgDate %>

<form id="party-email-form">
 <label for="email">Email:</label>
 <input type="email" name="email"> 
 <input type="submit" value="submit">
</form>