<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <section class="container">
    <section class="center jumbotron" style="background:none;margin-top:8%;">
      <img src="/background/logo.png" id="logo" class="hidden-xs">
      <h1 id="welcome-title">Welcome to TurnUp TuneIn</h1>
      <h2 id="welcome-subtitle">A better way to plan parties</h2>
      <a href="/partyplanner/authorize" class="btn btn-lg btn-inverse" id='spotify-login' style="margin-top:2em"><img id="spotifyGlyph" src="http://dr4k4n.github.io/presentation-angular-webapps/img/spotify.png">  Log in with Spotify</a>
    </section>
  </section>
</body>
</html>
