<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   
    <link rel="stylesheet" href="css/stylesheet.css">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   
    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script type="text/javascript" src="http://twitter.github.io/bootstrap/assets/js/bootstrap-collapse.js"></script>
   
  </head>
  <header id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <section class="container">
      <section class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="/images/ps_logo.svg" id='nav-logo' class="visible-xs-block">
      </section>
      <section class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><h3 id="logo-name" class="hidden-xs">TurnUp TuneIn</h3></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href='#' class="hidden-xs">content</a></li>
          <li><a href='#' class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" >content</a></li>
          <li><a href='#' class="hidden-xs">content2</a></li>
          <li><a href='#' class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" >content2</a></li>
          <li><a href='#' class="hidden-xs">content3</a></li>
          <li><a href='#' class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse" >content3</a></li>
        </ul>
      </section>
    </section><!--/.nav-collapse -->
  </header>
  <body>
    <%- body %>
    <script type="text/javascript">
   (function($){
$(document).ready(function() {
$('.dropdown-toggle[href="#"]').dropdown();
});
})(jQuery);
</script>
    </script>
  </body>
  </html>
