<body>
  <h1>Please set up your user account</h1>
  <form action="/pp/user" method="post" id="user-details-form">
    <label for="userName">Username</label>
    <input name="userName" type="text">
    <label for="beaconMajor">Beacon (major)</label>
    <input name="beaconMajor" type="text">
    <label for="beaconMinor">Beacon (minor)</label>
    <input name="beaconMinor" type="text">
    <input type="submit" value="Save">
  </form>
</body>
