<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<section class="container">
  <section class="center jumbotron" style="background:rgba(0, 0, 0, .8);margin-top:18%;padding-left:0;padding-right:0;margin-right:15%;margin-left:15%;">
<h1><%- title %> </h1>

<p>We're dreadfully sorry, but this page doesn't seem to exist</p>

<p>Please head back to our home page</p>

<a class="btn btn-lg btn-inverse" href='/'>home page</a>
</section>
</section>
</body>