<h1 id='beacon-title'>Please register your party beacon</h1>

<% if (errorID == 1) { %>
  <p id="error">You must add beacon numbers</p>
<% } %>

  <form action="/partyplanner/beacon/<%-spotifyID %>" method="post" id="beacon-details-form" name="beacon-details-form">
    <input type="hidden" name="spotifyID" id="spotifyID">
    <label for="beaconMajor">Beacon (major)</label>
    <input name="beaconMajor" type="text" id='major'>
    <label for="beaconMinor">Beacon (minor)</label>
    <input name="beaconMinor" type="text" id='minor'>
    <input type="submit" value="Save" id="save">
  </form>
