<body>
Thank you for entering your party information.

  <ul>
    <li>Party Name: <%- partyName %></li>
    <li>Party Date: <%- partyDate %></li>
    <li>Party Playlist Name: <%- partyPlaylistName %></li>
  </ul>

  <p>Pass on this link in your invites to allow your friends to choose songs for the playlist</p>

  <%- getSongsLink %>

</body>
