<head>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<section class="container">
  <section class="center jumbotron">
    <h1 id='event-info'>Event Info</h1>
    <h2>A better way to play music</h2>
    <form action="/partyplanner/eventdetails/<%- spotifyID %>" method="post" id="party-event-form">
      <label for="partyName">Party name:</label>
      <input name="partyName" id="partyName">
      <label for="playlistName">Party playlist name:</label>
      <input name="playlistName" id="playlistName">
      <label for="partyDate">Party Date:</label>
      <input type="date" name="partyDate" id="partyDate">
      <input type="submit" value="Save" id='saveparty'>
    </form>
  </section>
</section>
