<head>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<section class="center jumbotron">
  <h1>Party Information</h1>

  <h2>A better way to play music</h2>

</section>

  <p>Please tell us the name of your event, what you'd like your Spotify
      playlist to be called and when it's happening</p>

  <form action="/partyplanner/eventdetails/<%- spotifyID %>" method="post" id="party-event-form">
    <label for="partyName">Party name:</label>
    <input name="partyName" id="partyName" required>
    <label for="playlistName">Party playlist name:</label>
    <input name="playlistName" id="playlistName" required>
     <label for="partyDate">Party Date:</label>
    <input type="date" name="partyDate" id="partyDate" required>
    <input type="submit" value="Save party information" id='saveparty'>
  </form>
