<head>
  <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<section class="container">
  <section class="center jumbotron" style="background:rgba(0, 0, 0, .8);margin-top:15%;">
    <h1 id="event-info">Event Info</h1>
    <h2>A better way to play music</h2>
    <form action="/partyplanner/eventdetails/<%- spotifyID %>" method="post" id="party-event-form" class="form-horizontal form-inline">
      <fieldset>
        <section class="control-group">
          <label for="partyName" class="control-label">Party name:</label>
          <section class="controls">
            <input name="partyName" id="partyName">
          </section>
        </section>
        <section class="control-group">
          <label for="playlistName" class="control-label">Party playlist name:</label>
          <section class="controls">
            <input name="playlistName" id="playlistName">
          </section>
        </section>
        <section class="control-group">
          <label for="partyDate" class="control-label">Party Date:</label>
          <section class="controls">
            <input type="date" name="partyDate" id="partyDate">
          </section>
        </section>
        <section class="form-actions">
            <input type="submit" value="Save" id='saveparty' class="btn btn-lg btn-inverse">
        </section>
      </fieldset>
    </form>
  </section>
